# Basics #
API_ID = 15523035
API_HASH = "33a37e968712427c2e7971cb03f341b3"
BOT_TOKEN = "1951494391:AAG1R7TMSI88xLXgRbhf8x95fR8HX6ewTm4"

# Authorization # - List of id's, separated by space -
OWNER_ID = 910674886
SUDO_USERS = ""
EVERYONE_CHATS = ""

# Log Channel #
LOG_CHANNEL = 1567964220

# Database #
SESSION_NAME = "encoderbot"
MONGO_URI = "mongodb+srv://TGBot:Save@koyeb.vvt99ro.mongodb.net/?retryWrites=true&w=majority&appName=Koyeb"

# Google Drive #
INDEX_URL = ""
DRIVE_DIR = ""

# Optional #
DOWNLOAD_DIR = "VideoEncoder/downloads/"
ENCODE_DIR = "VideoEncoder/encodes/"
